
.search-input-container {
  display: flex;
  align-items: center;
  background-color: #f1f5f9;
  border-radius: 8px;
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 16px;
  height:30px;
  width:500px;
  margin-top: 30px;
}

.search-input {
  background-color: #f1f5f9;
  color: #0f172a;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 500;
  border: none;
  outline: none;
  flex-grow: 1;
  height:30px;
}

.search-icon {
  color: #475569;
  width: 20px;
  height: 20px;
}
.input-containers{
    display: flex;
    justify-content: center;
    margin: 10px;
}
.search-img{
    width:120px;
}
.items{
  display: flex;
  
  
  flex-wrap: wrap;
  justify-content: center;
 
}